body {
  margin: 0;
  background-color: var(--main-background);
  color: var(--brand-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --brand-color: #757575;
  --second-color: #212121;
  --main-background: #ffffff;
  --background-head: #2f303a;
  --background-add: #f5f4fa;
  --accent-color: #2196f3;
  --head-logo: #000000;
  --border-color: #eeeeee;
  --line-header: #ececec;
  --soc-link: #afb1b8;
}

.modal-checkbox__block, .ptf__item, .adresses__cont-link, .adressess__link, .client-link, .menu-site-nav__link, .cont-link, .site-nav__link, .soc-links__link, .close-button, .filter__button {
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__block, .modal-checkbox, .client-link, .clients, .works__label, .benefits__icons, .soc-links__link, .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--submit, .filter__button, .foot__button, .hero__button {
  border-radius: 4px;
  border: none;
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--main-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

img {
  display: block;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.hero__title {
  color: var(--main-background);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.section-title {
  margin-bottom: 50px;
  color: var(--second-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .section-title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

.benefits__title {
  color: var(--second-color);
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.product-card__title {
  margin-bottom: 4px;
  color: var(--second-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}

.button-icon {
  fill: currentColor;
}

.hero__button {
  min-width: 200px;
  padding: 10px 30px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background);
  margin-left: auto;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background);
  margin-left: auto;
  border: transparent;
}
.menu-button-close:hover, .menu-button-close :focus {
  fill: var(--accent-color);
}

.foot__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-width: 200px;
  padding: 10px 28px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .foot__button {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.filter__button {
  text-align: center;
  padding: 6px 22px;
  min-width: 43px;
  border: 1px solid transparent;
  color: var(--second-color);
  background-color: var(--background-add);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--submit {
  display: block;
  width: 200px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--head-logo);
  background-color: var(--main-background);
  -webkit-transition-property: fill;
  transition-property: fill;
  cursor: pointer;
}
.close-button:hover {
  fill: var(--accent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  margin-right: 88px;
  color: var(--head-logo);
  font-weight: 700;
  font-size: 23px;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo--accent {
  color: var(--accent-color);
}

.foot__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: var(--main-background);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1170px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  width: 100%;
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section--no-padding-top {
    display: none;
  }
}

.employee {
  padding-bottom: 24px;
  background-color: var(--main-background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .employee {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .employee {
    width: calc((100% - 90px) / 4);
    padding-bottom: 30px;
  }
}

.employee__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.employee__poz {
  margin-bottom: 16px;
}

.soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.soc-links__item {
  width: 44px;
  height: 44px;
}

.soc-links__link {
  color: var(--soc-link);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.soc-links__link:hover, .soc-links__link:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
}

.soc-links__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-background);
}

.soc-links__icon {
  fill: currentColor;
}

.menu-soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.menu-soc-links__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-soc-links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.foot__form-cont {
  width: 100%;
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .foot__form-cont {
    width: auto;
    margin-left: 93px;
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .foot-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.foot-form__lable {
  position: relative;
  top: 0px;
  left: 0px;
}

.foot-form__input {
  width: 100%;
  height: 50px;
  padding-left: 60px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .foot-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .foot-form__input {
    width: 358px;
  }
}

.foot-form__item {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-header {
  position: relative;
  border-bottom: 1px solid var(--line-header);
}

.page-header__cont,
.page-header__nav,
.auth-nav,
.cont-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__cont {
  height: 60px;
}
@media screen and (min-width: 768px) {
  .page-header__cont {
    height: 80px;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-color);
  font-weight: 500;
  font-size: px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link:active {
  color: var(--accent-color);
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.auth-nav {
  display: none;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__item + .auth-nav__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.cont-link__icon {
  fill: currentColor;
  margin-right: 10px;
}

.cont-link {
  color: var(--brand-color);
}

.cont-link:hover,
.contakts .cont-link:focus {
  color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  background-color: var(--main-background);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  padding-top: 15px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-page-header__nav {
  margin-bottom: 306px;
}

.menu-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-site-nav__link {
  color: var(--second-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-site-nav__link.current {
  color: var(--accent-color);
}

.menu-auth-nav {
  margin-bottom: 64px;
}

.menu-auth-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-num-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Hero-mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Hero-mob2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Hero-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Hero-tab2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 100%;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Hero2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Hero2x.jpg);
  }
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  line-height: 1.7;
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .benefits__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__icons {
  background-color: var(--background-add);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.works__thumb {
  position: relative;
}

.works__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 0;
  color: var(--main-background);
}

.section__team {
  background-color: var(--background-add);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  gap: 30px;
  font-size: 16px;
  line-height: 1.2;
}

.clients {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.client-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: var(--soc-link);
}
.client-link:hover, .client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-link__icon {
  fill: currentColor;
}

.foot {
  background-color: var(--background-head);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot-adress {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .foot-adress {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .foot-adress {
    text-align: start;
  }
}

.adresses {
  margin-left: auto;
  margin-right: auto;
  width: 231px;
  font-style: normal;
  line-height: 1.7;
}

.adressess__link {
  color: var(--main-background);
}
.adressess__link:hover, .adressess__link:focus {
  color: var(--accent-color);
}

.adresses__cont-link {
  display: block;
  margin-top: 9px;
  color: var(--brand-color);
}
.adresses__cont-link:hover, .adresses__cont-link:focus {
  color: var(--accent-color);
}

/* -------offer to join---------- */
.offer-to-join {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .offer-to-join {
    padding-top: 12px;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .offer-to-join {
    margin-left: 70px;
  }
}

/* ----------call to action----------- */
.call-to-action {
  margin-bottom: 20px;
  color: var(--main-background);
}
@media screen and (min-width: 1200px) {
  .call-to-action {
    text-align: start;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
} /* -----------cards------------- */
.ptf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.ptf__item {
  width: 100%;
}
.ptf__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 480px) {
  .ptf__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .ptf__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .ptf__item {
    width: calc((100% - 60px) / 3);
  }
}

/* ------------overlay-------------- */
.product-card__thumb {
  position: relative;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* display: block;
  padding: 63px, 24px; */
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ptf__item:hover .product-card__overlay {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.product-card__overlay > p {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-background);
}

/* -------------------------------------------------- */
/* .ptf__item:not(:nth-child(3n)) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.ptf__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.product-card__down-block {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

/* .ptf-img {
  border: 1px solid transparent;
} */
.ptf-cont:nth-child(3n) {
  margin-right: 0;
}

.ptf-cont:nth-last-child(-n+3) {
  margin-bottom: 0;
}

/* .ptf__item {
  display: block;
}
.product-card {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.product-card:nth-child(3n) {
  margin-right: 0;
}
.product-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.product-card__descr {
  color: var(--brand-color);
  font-size: 16px;
  line-height: 1.9;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  min-height: 609px;
  background-color: var(--main-background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-form__item {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-form__input:focus,
.modal-form__input:hover,
.modal-form-textarea:focus,
.modal-form-textarea:hover {
  outline: 1px solid var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form-textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-form-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--brand-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-checkbox__block {
  margin-right: 7px;
  outline: 2px solid var(--second-color);
  border-radius: 2px;
  -webkit-transition-property: outline-color, background-color;
  transition-property: outline-color, background-color;
  cursor: pointer;
}

.modal-checkbox__input:checked + .modal-checkbox__block {
  background-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
}

.modal-checkbox__link {
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}/*# sourceMappingURL=main.css.map */