.team {
    background-color: var(--background-add);
}

.team__list {
    // display: flex;
    // flex-wrap: wrap;
    /* -----возм нужно заменить на align-items----- */
    text-align: center;
    margin: -15px;

    @include font(null, 16, 1.2, null);
}