.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin: -15px;
    gap: 30px;
    
    line-height: 1.7;
}

.benefits__item {
    width: 100%;


    @media screen and (min-width: 480px) {
        width: 450px;

    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);

    }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
    
        }

    // margin: 15px;
}

.benefits__icons {
    background-color: var(--background-add);
    border-radius: 4px;

    height: 120px;
    margin-bottom: 30px;

    @extend %centering;
}

