.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
    line-height: 1.7;
}

.benefits__item {
    width: 100%;


    @include mob {
        width: 450px;
     }
    
    @include tab {
        width: calc((100% - 30px) / 2);
    }
    
    @include desktop {
        width: calc((100% - 90px) / 4);
    }
    
}

.benefits__icons {
    background-color: var(--background-add);
    border-radius: 4px;

    height: 120px;
    margin-bottom: 30px;

    @extend %centering;
}

