.clients {
    @extend %centering;
    
    flex-wrap: wrap;
    gap: 30px;
}


.clients__item {
    width: calc((100% - 30px) / 2);
    height: 92px;

    @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
    }
        
    

}

.client-link {
    @extend %centering;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    width: 100%;
    height: 100%;
    color: var(--soc-link);

    @extend %mainAnime;

    &:hover,
    &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }

}

.client-link__icon {
    fill: currentColor;
}