.clients {
    @extend %centering;
    
    flex-wrap: wrap;
    gap: 30px;
}


.clients__item {
    width: 170px;
    height: 92px;
}

.client-link {
    @extend %centering;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    width: 100%;
    height: 100%;
    color: var(--soc-link);

    @extend %mainAnime;

    &:hover,
    &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }

}

.client-link__icon {
    fill: currentColor;
}