.foot {
    background-color: var(--background-head);
    padding-top: 60px;
    padding-bottom: 60px;
}


.foot-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // gap: 60px;
}
.foot-adress {
    width: 100%;
    
    text-align: center;
    margin-bottom: 60px;
    
    @include tab {
        width: auto;
    }

    @include desktop {
    text-align: start;
    margin-bottom: 0;
    }
    
}

.adresses {
    margin-left: auto;
    margin-right: auto;
    width: 231px;
    font-style: normal;
    line-height: 1.7;

}

.adressess__link {
    color: var(--main-background);

    @extend %mainAnime;

    &:hover,
    &:focus {
         color: var(--accent-color);
    }
}



.adresses__cont-link {
    display: block;
    margin-top: 9px;

    color: var(--brand-color);
    @extend %mainAnime;

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}


/* -------offer to join---------- */
.offer-to-join {
    display: block;
    text-align: center;
    margin-bottom: 60px;

    @include tab {
    padding-top: 12px;
    margin-left: 165px;
    }

    @include desktop {
        // display: flex;
        //         flex-wrap: wrap;
        //         justify-content: center;
        //         // @extend %centering;
                margin-left: 70px;
                margin-bottom: 0;
    }
    
    
}

/* ----------call to action----------- */
.call-to-action {
    margin-bottom: 20px;
    // margin-top: 12px;
    // margin-bottom: 20px;
    color: var(--main-background);

    @include desktop {
        text-align: start;
    }
}
