.page-header {
    position: relative;
    border-bottom: 1px solid var(--line-header);
}


.page-header__cont,
.page-header__nav,
.auth-nav,
.cont-link {
    display: flex;
    align-items: center;
}


.page-header__cont {
    height: 60px;

    @include tab {
        height: 80px;
    }
}


.site-nav {
    
    display: none;

    @include tab {
        display: flex;
    }
}

.site-nav__link {
    position: relative;

    display: block;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--second-color);

    @include font(500, null, 1.14, 00.02em);
     @extend %mainAnime;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link:active {
    color: var(--accent-color);
}

.site-nav__link.current {
    color: var(--accent-color);
}

.site-nav .site-nav__item+.site-nav__item {
    margin-left: 50px;
}


.site-nav__link.current::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}

.auth-nav {
    display: none;
    margin-left: auto;
    justify-content: center;
    

    @include tab {
        display: block;
       
        
    }
    @include desktop {
        display: flex;
        
    }

    
}

.auth-nav__item+.auth-nav__item {
    @include tab {
        margin-top: 10px;
    }

   @include desktop {
margin-left: 30px;
margin-top: 0;
   }
   
}

.cont-link__icon {
    fill: currentColor;
    margin-right: 10px;
}

.cont-link {
    color: var(--brand-color);
    @extend %mainAnime;
}

.cont-link:hover,
.contakts .cont-link:focus {
    color: var(--accent-color);
}

// .menu-button__icon-cross {
//     display: none;
// }

// .menu-button.is-open .menu-button__icon-cross {
//     display: block;
// }

// .menu-button.is-open .menu-button__icon-menu {
//     display: none;
// }


.mobile-menu {
            
    position: fixed;
    background-color: var(--main-background);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
padding-top: 15px;
    
    @include tab {
        display: none;
    }  
    z-index: 1;  
    
}
.mobile-menu--is-hidden {
    opacity: 0;
    
        pointer-events: none;
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // max-height: 100%;

    
}

.menu-page-header__nav {
    margin-bottom: 306px;
}




.menu-site-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.menu-site-nav__link {
    color: var(--second-color);
    
        @include font(500, 40, 1.17, 00.02em);
        @extend %mainAnime;
}

.menu-site-nav__link.current {
    color: var(--accent-color);
}

.menu-auth-nav {
    margin-bottom: 64px;
}

.menu-auth-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.menu-num-link {
    @include font(500, 34, 1.17, 00.02em);
    color: var(--accent-color);
    
}
.menu-email-link {
    @include font(500, 24, 1.17, 00.02em);
    color: var(--brand-color);

}



