.page-header {
    
    border-bottom: 1px solid var(--line-header);
}


.page-header__cont,
.page-header__nav,
.auth-nav,
.cont-link {
    display: flex;
    align-items: center;
}

.page-header__cont {
    height: 80px;
}


.site-nav {
    display: none;
}

.site-nav__link {
    position: relative;

    display: block;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--second-color);

    @include font(500, null, 1.14, 00.02em);
     @extend %mainAnime;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link:active {
    color: var(--accent-color);
}

.site-nav__link.current {
    color: var(--accent-color);
}

.site-nav .site-nav__item+.site-nav__item {
    margin-left: 50px;
}


.site-nav__link.current::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}

.auth-nav {
    display: none;
    margin-left: auto;
    justify-content: center;

    gap: 10;
}

.auth-nav .auth-nav__item+.auth-nav__item {
    margin-left: 30px;
}

.cont-link__icon {
    fill: currentColor;
    margin-right: 10px;
}

.cont-link {
    color: var(--brand-color);
    @extend %mainAnime;
}

.cont-link:hover,
.contakts .cont-link:focus {
    color: var(--accent-color);
}

