.container {
    width: 100%;
    margin: 0 auto;
   
    padding-right: 15px;
    padding-left: 15px;

    @include mob {
        width: 480px;
    }
    @include tab {
            width: 768px;
    }
    @include desktop {
            width: 1200px;
    } 


}