.foot__form-cont {
    margin-left: auto;
}

// .foot-form {
//     display: flex;
//     align-items: center;
// }

.foot-form__lable {
    position: relative;
    top: 0px;
    left: 0px;
}

.foot-form__input {
    width: 358px;
    height: 50px;
    padding-left: 60px;

    background-color: inherit;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.foot-form__item {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}