.logo {
   display: block;
    margin-right: 93px;

    color: var(--head-logo);
    
    @include font(700, 26, 1.2, null);
      font-family: 'Raleway', sans-serif;
}

.logo--accent {
    color: var(--accent-color);
}

.foot__logo {
    display: block;
    margin-bottom: 20px;

    color: var(--main-background);

}