.title {
    margin-bottom: 10px;

    @include font(700, 14, 1.14, null);
    text-transform: uppercase;
}
.hero__title {
    color: var(--main-background);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include font(900, 44, 1.36, 0.06em);
  
    text-transform: uppercase;

    margin-bottom: 30px;
}
.section-title {
    margin-bottom: 50px;
    color: var(--second-color);

    @include font(null, 36, 1.17, null); 
    text-align: center;

    @media screen and (max-width: 1199px) {
    @include font(null, 28, 1.17, null);
    margin-bottom: 30px;
    }
}
.benefits__title {
    @media screen and (max-width: 767px) {
        text-align: center;
    }
    color: var(--second-color);
}
.product-card__title {
    margin-bottom: 4px;

    color: var(--second-color);

    @include font(null, 18, 2, 0.06em);
}

.modal__title {
    @include font(700, 20, 1.15, null);
    text-align: center;
    color: var(--second-color);
    margin-bottom: 12px;
}