:root {
    --brand-color: #757575;
    --second-color: #212121;
    --main-background: #ffffff;
    --background-head: #2f303a;
    --background-add: #f5f4fa;
    --accent-color: #2196f3;
    --head-logo: #000000;
    --border-color: #eeeeee;
    --line-header: #ececec;
    --soc-link: #afb1b8;
}
$timingCubic: cubic-bezier(0.4, 0, 0.2, 1);
